/* Ressetings */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  
}

svg {
  fill: currentColor;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* General CSS */

@font-face {
   font-family: "Alegreya";
   src: url('/Alegreya-VariableFont_wght.ttf');
   font-display: swap;
}


body {
  font-family: "Alegreya", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #000;
  color: var(--brown);
  font-weight: bold;


  /* Variables */ 
  --bg-color: var(--cream);
  --text-color: var(--brown);

  --cream: #f8de3c;
  --brown: #412a1e;
}