/* Ressetings */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  
}

svg {
  fill: currentColor;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* General CSS */

@font-face {
   font-family: "Century Old Style Std";
   src: url('../../public/CenturyOldStyleStd-Regular.woff2');
   font-weight: normal;
}

@font-face {
   font-family: "Century Old Style Std";
   src: url('../../public/CenturyOldStyleStd-Bold.woff2');
   font-weight: bold;
}



body {
  font-family: "Century Old Style Std", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--milky);
  color: var(--black);


  /* Variables */
  --milky: #F3F4F6; 
  --black: #000000;
}